.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Serif";
    -fx-base: #b3b3b3;
    -fx-background: #e6e6e6;
    -fx-focus-color: #7d7f7d;
}
.button{
    -fx-font: 25px "Serif";
}
.label-coordinate{
    -fx-font: 20px "Serif";
    -fx-color: #0093ff;
}
.label-header{
    -fx-font: bold 20px "Serif";
    -fx-color: #ff0000;
    -fx-font-style: italic;
}